<!-- Footer -->
<footer class="text-center">
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-4">
                    <h3>Location</h3>
                    <p>1316 Antioch Road<br>Pikeville, NC 27863</p>
                </div>
                <div class="footer-col col-md-4">
                    <h3>Around the Web</h3>
                    <ul class="list-inline">

                        <li>
                            <%= link_to 'https://github.com/david-meza/', class: "btn-social btn-outline" do %>
                            <i class="fa fa-fw fa-github"></i>
                          <% end %>
                        </li>

                        <li>
                            <%= link_to 'http://stackoverflow.com/users/4926060/david-meza?tab=profile', class: "btn-social btn-outline" do %>
                            <i class="fa fa-fw fa-stack-overflow"></i>
                          <% end %>
                        </li>

                        <li>
                          <%= link_to 'https://www.linkedin.com/in/jdavidmeza', class: "btn-social btn-outline" do %>
                            <i class="fa fa-fw fa-linkedin"></i>
                          <% end %>
                        </li>

                        <li>
                          <%= link_to 'https://twitter.com/DavidMe93', class: "btn-social btn-outline" do %>
                            <i class="fa fa-fw fa-twitter"></i>
                          <% end %>
                        </li>

                         <li>
                          <%= link_to 'https://instagram.com/davidmeza93/', class: "btn-social btn-outline" do %>
                            <i class="fa fa-fw fa-instagram"></i>
                          <% end %>
                        </li>

                       <!--  <li>
                          <%= link_to 'https://facebook.com/jdmeza93', class: "btn-social btn-outline" do %>
                            <i class="fa fa-fw fa-facebook"></i>
                          <% end %>
                        </li> -->

                    </ul>
                </div>
                <div class="footer-col col-md-4">
                    <h3>About David</h3>
                    <p>
                      David will solve all your problems. Contact him now!
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Copyright &copy; David Meza 2015
                </div>
            </div>
        </div>
    </div>
</footer>