<!-- Portfolio Modals -->
<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h3>
              Danebook
            </h3>
            <hr class="star-primary">

            <%= image_tag "https://s3.amazonaws.com/davidmeza/portfolio-website/danish_flag.gif", class: "img-rounded", style: "height: 150px", alt: "Danish flag" %>
            <p>
              <%= link_to "Danebook", "https://danebooker.herokuapp.com/" %> is a Facebook clone at the micro-community level. It mimics the functionality of a social network and was designed to be showcase my ability to build a complex website. It was tested through model and integration testing using RSpec. Some of the core functionality involve working with complex data structures, writing efficient algorithms, handling user authentication, managing a relational database, and making AJAX requests. Building Danebook was a project included <%= link_to "Viking Code School's", 'http://vikingcodeschool.com' %> curriculum.
            </p>

            <ul class="list-inline item-details">
                <li>Source Code:
                    <strong><%= link_to "Show", 'https://github.com/david-meza/danebook' %>
                    </strong>
                </li>
                <li>Date:
                    <strong>August 7, 2015
                    </strong>
                </li>
                <li>Platform:
                    <strong>Rails, RSpec, and <%= link_to "Heroku", "https://danebooker.herokuapp.com/" %>
                    </strong>
                </li>
            </ul>
              <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>