<%= form_for @contact_form, id: "contactForm", remote: true do |contact_fields| %>

  <div class="row control-group">
    <div class="form-group col-xs-12 floating-label-form-group controls">
      <%= contact_fields.label :name, "Name" %>
      <%= contact_fields.text_field :name, class: "form-control", placeholder: "Name", id: "name" %>
      <p class="help-block text-danger"></p>
    </div>
  </div>

  <div class="row control-group">
      <div class="form-group col-xs-12 floating-label-form-group controls">
          <%= contact_fields.label :email, "Email Address" %>
          <%= contact_fields.text_field :email, class: "form-control", placeholder: "Email Address", id: "email" %>
          <p class="help-block text-danger"></p>
      </div>
  </div>

  <div class="row control-group">
      <div class="form-group col-xs-12 floating-label-form-group controls">
        <%= contact_fields.label :message %>
        <%= contact_fields.text_area :message, class: "form-control", required: true, placeholder: "Message", rows: "4", id: "message" %>
          <p class="help-block text-danger"></p>
      </div>
  </div>

  <br>
  <div id="success">
    <%= flash_messages %>
  </div>

  <div class="row">
      <div class="form-group col-md-6 col-md-offset-3 col-xs-8 col-xs-offset-2">
        <%= contact_fields.submit "Send!", class: "btn btn-success btn-lg btn-block", id: "btn-submit" %>
      </div>
  </div>
<% end -%>