<!-- Portfolio Grid Section -->
<section id="portfolio">
  <div class="container">

    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Portfolio</h2>
        <hr class="star-primary">
      </div>
    </div>

    <div class="row">
    <!-- col-sm-push-4 -->
      <div class="col-sm-4 col-xs-6 portfolio-item">
        <%= link_to '#portfolioModal1', :class => "portfolio-link", "data-toggle" => "modal" do %>
          <div class="caption">
            <div class="caption-content">
              <h4>Github Projects</h4>
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
        <%= image_tag "https://s3.amazonaws.com/davidmeza/portfolio-website/github-octocat.svg", class: "img-responsive" %>
        <% end %>
      </div>

      <div class="col-sm-4 col-xs-6 portfolio-item">
        <%= link_to '#portfolioModal2', :class => "portfolio-link", "data-toggle" => "modal" do %>
          <div class="caption">
            <div class="caption-content">
              <h4>DOM Parser</h4>
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
        <%= image_tag "https://s3.amazonaws.com/davidmeza/portfolio-website/coding.png", class: "img-responsive" %>
        <% end %>
      </div>

      <div class="col-sm-4 col-xs-6 portfolio-item">
        <%= link_to '#portfolioModal3', :class => "portfolio-link", "data-toggle" => "modal" do %>
          <div class="caption">
            <div class="caption-content">
              <h4>Minesweeper</h4>
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
        <%= image_tag "https://s3.amazonaws.com/davidmeza/portfolio-website/game.png", class: "img-responsive" %>
        <% end %>
      </div>

      <div class="col-sm-4 col-xs-6 portfolio-item">
        <%= link_to '#portfolioModal4', :class => "portfolio-link", "data-toggle" => "modal" do %>
          <div class="caption">
            <div class="caption-content">
              <h4>Danebook</h4>
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
        <%= image_tag "https://s3.amazonaws.com/davidmeza/portfolio-website/danish_flag.gif", class: "img-responsive img-rounded" %>
        <% end %>
      </div>

      <div class="col-sm-4 col-xs-6 portfolio-item">
        <%= link_to '#portfolioModal5', :class => "portfolio-link", "data-toggle" => "modal" do %>
          <div class="caption">
            <div class="caption-content">
              <h4>Mr. Commissioner</h4>
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <%= image_tag "https://s3.amazonaws.com/davidmeza/portfolio-website/sundayticketfantasyfootball.jpg", class: "img-responsive img-rounded" %>
        <% end %>
      </div>

    </div>
  </div>
</section>